.footer {
  background-color: var(--background-dark-color);
  
  border-top: 1px solid var(--info-2-color);
  padding: 2rem;
  width: 100%;
  margin-top: auto;

  height: var(--footer-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-bottom {
  text-align: center;
  font-size: 1rem;
  color: var(--info-2-color);
}

.layout-container {
  width: min(80%, 1200px);
  margin: 0 auto;
}

@media (max-width: 768px) {

  .footer-bottom {
    font-size: 0.85rem;
    margin-top: 2rem;
  }

  .layout-container {
    width: 100%;
  }
}

